<p id="notice"><%= notice %></p>

<h1>Feeds</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>写真</th>
      <th>本文</th>
      <th colspan="8"></th>
    </tr>
  </thead>

  <tbody>
    <% @feeds.each do |feed| %>
      <tr>
        <td><%= "#{feed.user.name}さんの投稿" %></td>
        <td><%= image_tag feed.image.url %></td>
        <td><%= feed.content %></td>
        <td><%= link_to 'Show', feed %></td>

        <% unless feed.user_id == current_user.id %>
          <% if feed.favorites.present? %>
            <td><%= link_to 'お気に入り解除する', favorite_path(id: feed.favorites.ids), method: :delete, class: 'btn btn-danger' %></td>
          <% else %>
            <td><%= link_to 'お気に入りする', favorites_path(feed_id: feed.id), method: :post, class: 'btn btn-primary' %></td>
          <% end %>
        <% end %>

        <% if feed.user == current_user %>
          <td><%= link_to 'Edit', edit_feed_path(feed) %></td>
          <td><%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feed', new_feed_path %>
