<h1 class="alert alert-info" role="alert">Sign up</h1>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_with(model: @user, local: true) do |f| %>
  <div class="flex-container container-margin">
    <ul class="list-group">
      <li class="list-group-item">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'input-field' %>
      </li>
      <li class="list-group-item">
        <%= f.label :birthday %>
        <%= f.date_select :birthday,
          use_month_numbers: true,
          start_year:     1930,
          end_year:       (Time.now.year),
          default:        Date.new(1989, 1, 1)
          %>
      </li>
      <li class="list-group-item">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'input-field' %>
      </li>
      <li class="list-group-item">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'input-field' %>
      </li>
      <li class="list-group-item">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'input-field' %>
      </li>
      <li class="list-group-item">
        <%= f.label :Profile_image %>
        <%= f.file_field :image %>
      </li>
      <li class="list-group-item"><%= f.submit "Create my account", class: 'input-field' %></li>
    </ul>
  </div>
<% end %>
