<h1><%= @user.name %>のページ</h1>
<% if @user.image.url %>
  <%= image_tag @user.image.url %>
<% end %>
  <p>生年月日: <%= @user.birthday.strftime("%Y年 %m月 %d日") %></p>
  <p>メールアドレス: <%= @user.email %></p>
  <% if @user == current_user %>
    <%= link_to "プロフィールを編集", edit_user_path(@user.id) %>
<% end %>
